In [17]:
# Load library
import numpy as np
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.models.widgets import DataTable, TableColumn
from bokeh.models import ColumnDataSource

import csv

In [7]:
reader = pd.read_csv('datagun.csv')
amount_l = []
for amount in reader['n_killed']:
    amount = str(amount)
    amount_l.append(amount)
remove = list(set(amount_l))
# sorts the cities in alphabetical order 
remove.sort()
print(remove)
print('---------------------------------------------------------------------------------------------------------')
# prints how many different cities are in the list
print(len(remove))

['0', '1', '10', '16', '17', '2', '27', '3', '4', '5', '50', '6', '7', '8', '9']
---------------------------------------------------------------------------------------------------------
15

In [15]:
from collections import Counter
# used a shortened dataset, replace 'stage3test.csv' for the big dataset
reader = pd.read_csv('datagun.csv')
amount_k = []
# appends all the cities in dataset to list
for amount in reader['n_killed']:
    amount = str(amount)
    amount_k.append(amount)
cnt = Counter(amount_k)
# change the value for how many cities you want in your result
print(cnt.most_common(15))

[('0', 154752), ('1', 40399), ('2', 3798), ('3', 497), ('4', 106), ('5', 28), ('6', 7), ('8', 5), ('9', 2), ('7', 1), ('10', 1), ('16', 1), ('50', 1), ('27', 1), ('17', 1)]

In [20]:
output_file("data_table.html")

data = dict(
        peeps=['Count', 'Proportion', 'Percent'],
        zero=['154752', '0,77530752', '77.530752%'],
        one=['40399', '0,20239899', '20.239899%'],
        two=['3798', '0,01902798', '1.902798%'],
        three=['497', '0,00248997', '0.248997%'],
        four=['106', '0,00053106', '0.053106%'],
        five=['28', '0,00014028', '0.014028%'],
        six=['7', '0,00003507', '0.003507%'],
        seven=['1', '0,00000501', '0.000501%'],
        eight=['5', '0,0000250501', '0.00250501%'],
        nein=['2', '0,00001002', '0.001002%'],
        ten=['1', '0,00000501', '0.000501%'],
        sixten=['1', '0,00000501', '0.000501%'],
        seventen=['1', '0,00000501', '0.000501%'],
        seventwoten=['1', '0,00000501', '0.000501%'],
        fiveten=['1', '0,00000501', '0.000501%'],
        total=['199600', '1,00', '100%'],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="peeps", title="Occurence of people killed"),
        TableColumn(field="zero", title="0"),
        TableColumn(field="one", title="1"),
        TableColumn(field="two", title="2"),
        TableColumn(field="three", title="3"),
        TableColumn(field="four", title="4"),
        TableColumn(field="five", title="5"),
        TableColumn(field="six", title="6"),
        TableColumn(field="seven", title="7"),
        TableColumn(field="eight", title="8"),
        TableColumn(field="nein", title="9"),
        TableColumn(field="ten", title="10"),
        TableColumn(field="sixten", title="16"),
        TableColumn(field="seventen", title="17"),
        TableColumn(field="seventwoten", title="27"),
        TableColumn(field="fiveten", title="50"),
        TableColumn(field="total", title="Total"),
    ]
data_table = DataTable(source=source, columns=columns, width=2500, height=500)

show(data_table)