In [2]:
# Load library
import numpy as np
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.models.widgets import DataTable, TableColumn
from bokeh.models import ColumnDataSource

import csv

In [6]:
reader = pd.read_csv('../DATA/datagun.csv')
amount_l = []
for amount in reader['n_killed']:
    amount = str(amount)
    amount_l.append(amount)
remove = list(set(amount_l))
# sorts the cities in alphabetical order 
remove.sort()
print(remove)
print('---------------------------------------------------------------------------------------------------------')
# prints how many different cities are in the list
print(len(remove))

['0', '1', '10', '16', '17', '2', '27', '3', '4', '5', '50', '6', '7', '8', '9']
---------------------------------------------------------------------------------------------------------
15

In [7]:
from collections import Counter
# used a shortened dataset, replace 'stage3test.csv' for the big dataset
reader = pd.read_csv('../DATA/datagun.csv')
amount_k = []
# appends all the cities in dataset to list
for amount in reader['n_killed']:
    amount = str(amount)
    amount_k.append(amount)
cnt = Counter(amount_k)
# change the value for how many cities you want in your result
print(cnt.most_common(23))

[('0', 180484), ('1', 45561), ('2', 4342), ('3', 560), ('4', 119), ('5', 34), ('6', 8), ('8', 5), ('9', 3), ('7', 1), ('10', 1), ('16', 1), ('50', 1), ('27', 1), ('17', 1)]

In [8]:
output_file("../HTML/data_table-killed.html")

data = dict(
        peeps=['Count', 'Proportion', 'Percent'],
        zero=['180484', '0,7809542268', '78.09542268%'],
        one=['45561', '0,197142447', '19.7142447%'],
        two=['4342', '0,018787834', '1.8787834%'],
        three=['560', '0,00242313', '0.242313%'],
        four=['119', '0,000514913', '0.0514913%'],
        five=['24', '0,000103848', '0.0103848%'],
        six=['8', '0,000034616', '0.0034616%'],
        seven=['1', '0,000004327', '0.0004327%'],
        eight=['5', '0,000021635', '0.0021635%'],
        nein=['3',  '0,000012981', '0.0012981%'],
        ten=['1', '0,000004327', '0.0004327%'],
        sixten=['1', '0,000004327', '0.0004327%'],
        seventen=['1', '0,000004327', '0.0004327%'],
        seventwoten=['1', '0,000004327', '0.0004327%'],
        fiveten=['1', '0,000004327', '0.0004327%'],
        total=['231122', '1,00', '100%'],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="peeps", title="Occurence of people killed"),
        TableColumn(field="zero", title="0"),
        TableColumn(field="one", title="1"),
        TableColumn(field="two", title="2"),
        TableColumn(field="three", title="3"),
        TableColumn(field="four", title="4"),
        TableColumn(field="five", title="5"),
        TableColumn(field="six", title="6"),
        TableColumn(field="seven", title="7"),
        TableColumn(field="eight", title="8"),
        TableColumn(field="nein", title="9"),
        TableColumn(field="ten", title="10"),
        TableColumn(field="sixten", title="16"),
        TableColumn(field="seventen", title="17"),
        TableColumn(field="seventwoten", title="27"),
        TableColumn(field="fiveten", title="50"),
        TableColumn(field="total", title="Total"),
    ]
data_table = DataTable(source=source, columns=columns, width=2500, height=500)

show(data_table)

In [5]:
output_file("../HTML/data_table-injured.html")

data = dict(
        peeps=['Count', 'Proportion', 'Percent'],
        zero=['137511', '0,595010097', '59.5010097%'],
        one=['79248', '0,342906096', '34.2906096%'],
        two=['10971', '0,047471517', '4.7471517%'],
        three=['2360', '0,01021172', '1.021172%'],
        four=['640', '0,00276928', '0.276928%'],
        five=['212', '0,000917324', '0.0917324%'],
        six=['80', '0,00034616', '0.034616%'],
        seven=['45', '0,000194715', '0.0194715%'],
        eight=['16', '0,000069232', '0.0069232%'],
        nein=['11', '0,000047597', '0.0047597%'],
        ten=['6', '0,000025962', '0.0025962%'],
        eleven=['4', '0,000017308', '0.0017308%'],
        twelve=['3', '0,000012981', '0.0012981%'],
        thirten=['1', '0,000004327', '0.0004327%'],
        fourten=['3', '0,000012981', '0.0012981%'],
        fiveten=['2', '0,000008653', '0.0008653%'],
        sixten=['1', '0,000004327', '0.0004327%'],
        seventen=['2', '0,000008653', '0.0008653%'],
        eightten=['1', '0,000004327', '0.0004327%'],
        neinten=['2', '0,000008653', '0.0008653%'],
        twoten=['1', '0,000004327', '0.0004327%'],
        fivetwoten=['1', '0,000004327', '0.0004327%'],
        fivetenthree=['1', '0,000004327', '0.0004327%'],
        total=['231122', '1,00', '100%'],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="peeps", title="Occurence of people killed"),
        TableColumn(field="zero", title="0"),
        TableColumn(field="one", title="1"),
        TableColumn(field="two", title="2"),
        TableColumn(field="three", title="3"),
        TableColumn(field="four", title="4"),
        TableColumn(field="five", title="5"),
        TableColumn(field="six", title="6"),
        TableColumn(field="seven", title="7"),
        TableColumn(field="eight", title="8"),
        TableColumn(field="nein", title="9"),
        TableColumn(field="ten", title="10"),
        TableColumn(field="eleven", title="11"),
        TableColumn(field="twelve", title="12"),
        TableColumn(field="thirten", title="13"),
        TableColumn(field="fourten", title="14"),
        TableColumn(field="fiveten", title="15"),
        TableColumn(field="sixten", title="16"),
        TableColumn(field="seventen", title="17"),
        TableColumn(field="eightten", title="18"),
        TableColumn(field="neinten", title="19"),
        TableColumn(field="twoten", title="20"),
        TableColumn(field="fivetwoten", title="25"),
        TableColumn(field="fivetenthree", title="53"),
        TableColumn(field="total", title="Total"),
    ]
data_table = DataTable(source=source, columns=columns, width=2500, height=500)

show(data_table)