In [2]:
# Load library
import numpy as np
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import output_file, show
from bokeh.models.widgets import DataTable, TableColumn
from bokeh.models import ColumnDataSource

import csv

In [3]:
reader = pd.read_csv('datagun.csv')
amount_l = []
for amount in reader['n_injured']:
    amount = str(amount)
    amount_l.append(amount)
remove = list(set(amount_l))
# sorts the cities in alphabetical order 
remove.sort()
print(remove)
print('---------------------------------------------------------------------------------------------------------')
# prints how many different cities are in the list
print(len(remove))

['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '19', '2', '20', '25', '3', '4', '5', '53', '6', '7', '8', '9']
---------------------------------------------------------------------------------------------------------
22

In [5]:
from collections import Counter
# used a shortened dataset, replace 'stage3test.csv' for the big dataset
reader = pd.read_csv('datagun.csv')
amount_k = []
# appends all the cities in dataset to list
for amount in reader['n_injured']:
    amount = str(amount)
    amount_k.append(amount)
cnt = Counter(amount_k)
# change the value for how many cities you want in your result
print(cnt.most_common(22))

[('0', 117156), ('1', 69721), ('2', 9722), ('3', 2078), ('4', 570), ('5', 193), ('6', 72), ('7', 38), ('8', 15), ('9', 10), ('10', 5), ('12', 3), ('11', 3), ('14', 3), ('15', 2), ('17', 2), ('19', 2), ('16', 1), ('53', 1), ('13', 1), ('25', 1), ('20', 1)]

In [7]:
output_file("data_table-killed.html")

data = dict(
        peeps=['Count', 'Proportion', 'Percent'],
        zero=['154752', '0,77530752', '77.530752%'],
        one=['40399', '0,20239899', '20.239899%'],
        two=['3798', '0,01902798', '1.902798%'],
        three=['497', '0,00248997', '0.248997%'],
        four=['106', '0,00053106', '0.053106%'],
        five=['28', '0,00014028', '0.014028%'],
        six=['7', '0,00003507', '0.003507%'],
        seven=['1', '0,00000501', '0.000501%'],
        eight=['5', '0,0000250501', '0.00250501%'],
        nein=['2', '0,00001002', '0.001002%'],
        ten=['1', '0,00000501', '0.000501%'],
        sixten=['1', '0,00000501', '0.000501%'],
        seventen=['1', '0,00000501', '0.000501%'],
        seventwoten=['1', '0,00000501', '0.000501%'],
        fiveten=['1', '0,00000501', '0.000501%'],
        total=['199600', '1,00', '100%'],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="peeps", title="Occurence of people killed"),
        TableColumn(field="zero", title="0"),
        TableColumn(field="one", title="1"),
        TableColumn(field="two", title="2"),
        TableColumn(field="three", title="3"),
        TableColumn(field="four", title="4"),
        TableColumn(field="five", title="5"),
        TableColumn(field="six", title="6"),
        TableColumn(field="seven", title="7"),
        TableColumn(field="eight", title="8"),
        TableColumn(field="nein", title="9"),
        TableColumn(field="ten", title="10"),
        TableColumn(field="sixten", title="16"),
        TableColumn(field="seventen", title="17"),
        TableColumn(field="seventwoten", title="27"),
        TableColumn(field="fiveten", title="50"),
        TableColumn(field="total", title="Total"),
    ]
data_table = DataTable(source=source, columns=columns, width=2500, height=500)

show(data_table)

In [6]:
output_file("data_table-injured.html")

data = dict(
        peeps=['Count', 'Proportion', 'Percent'],
        zero=['117156', '0,586953908', '58.6953908%'],
        one=['69721', '0,34930221', '34.930221%'],
        two=['9722', '0,04870722', '4.870722%'],
        three=['2078', '0,01041078', '1.041078%'],
        four=['570', '0,0028557', '0.28557%'],
        five=['193', '0,00096693', '0.096693%'],
        six=['72', '0,00036072', '0.036072%'],
        seven=['38', '0,00019038', '0.019038%'],
        eight=['15', '0,00007515', '0.007515%'],
        nein=['10', '0,0000501', '0.00501%'],
        ten=['5', '0,00002505', '0.002505%'],
        eleven=['3', '0,00001503', '0.001503%'],
        twelve=['3', '0,00001503', '0.001503%'],
        thirten=['1', '0,00000501', '0.000501%'],
        fourten=['3', '0,00001503', '0.001503%'],
        fiveten=['2', '0,00001002', '0.001002%'],
        sixten=['1', '0,00000501', '0.000501%'],
        seventen=['2', '0,00001002', '0.001002%'],
        neinten=['2', '0,00001002', '0.001002%'],
        twoten=['1', '0,00000501', '0.000501%'],
        fivetwoten=['1', '0,00000501', '0.000501%'],
        fivetenthree=['1', '0,00000501', '0.000501%'],
        total=['199600', '1,00', '100%'],
    )
source = ColumnDataSource(data)

columns = [
        TableColumn(field="peeps", title="Occurence of people killed"),
        TableColumn(field="zero", title="0"),
        TableColumn(field="one", title="1"),
        TableColumn(field="two", title="2"),
        TableColumn(field="three", title="3"),
        TableColumn(field="four", title="4"),
        TableColumn(field="five", title="5"),
        TableColumn(field="six", title="6"),
        TableColumn(field="seven", title="7"),
        TableColumn(field="eight", title="8"),
        TableColumn(field="nein", title="9"),
        TableColumn(field="ten", title="10"),
        TableColumn(field="eleven", title="11"),
        TableColumn(field="twelve", title="12"),
        TableColumn(field="thirten", title="13"),
        TableColumn(field="fourten", title="14"),
        TableColumn(field="fiveten", title="15"),
        TableColumn(field="sixten", title="16"),
        TableColumn(field="seventen", title="17"),
        TableColumn(field="neinten", title="19"),
        TableColumn(field="twoten", title="20"),
        TableColumn(field="fivetwoten", title="25"),
        TableColumn(field="fivetenthree", title="53"),
        TableColumn(field="total", title="Total"),
    ]
data_table = DataTable(source=source, columns=columns, width=2500, height=500)

show(data_table)